@*
    This page generates the table of all the recored movies in the database
*@
@{
}

@model List<Movies> 

<table class="table table-bordered fs-6">
    <thead class="table-light fw-bold">
        <tr> @*The Head of the table*@
            <td>Category</td>
            <td>Title</td>
            <td>Year</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>Lent To:</td>
            <td>Copied To Plex?</td>
            <td>Notes</td>
        </tr>
    </thead>

    @foreach (var m in Model) @*This loop generates the individual rows*@
    {
        <tbody>
            <tr> 
                <td>@m.Category?.CategoryName</td>
                <td>@m.Title</td>
                <td>@m.Year</td>
                <td>@m.Director</td>
                <td>@m.Rating</td>
                <td>@m.Edited</td>
                <td>@m.LentTo</td>
                <td>@m.CopiedToPlex</td>
                <td>@m.Notes</td>

                @*These buttons allow you to edit or delete the records*@
                <td class="table-light"><a class="btn btn-outline-info" asp-controller="Home" asp-action="Edit" asp-route-id="@m.MovieID">Edit</a></td>
                <td class="table-light"><a class="btn btn-outline-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@m.MovieID">Remove</a></td>
            </tr>
        </tbody>
    }
</table>